.checkBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkBox__input {
  visibility: hidden;
  position: absolute;
  width: 0px;
  height: 0px;
}

.checkBox__visual {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid rgba(34, 41, 59, 0.7);
  background-color: #fff;
  cursor: pointer;
}

.checkBox__visual--checked {
  background-color: #00b39b;
  border-color: #00b39b;
  color: #fff;
}
