:root {
  --plan-sale-main: #ffcc8f;
  --plan-sale-background: #252525;
  --font-main: #22293b;
  --font-pale: #747e97;
  --background-rectangle: rgba(70, 74, 112, 0.04);
  --green-main: #00b39b;
  --green-pale: #d7f4f3;
  --white-main: #fff;
  --blue-main: #3b71f7;
  --yellow-main: #fece1f;
  --red-main: #ff0000;
}

html {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--font-main);
}

.pageWrapper {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(252deg, #e3fffe 24%, #e6edfd 78%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  width: 100%;
  max-width: 1160px;
}

.pageWrapper::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
      0deg,
      transparent,
      transparent 55px,
      var(--background-rectangle) 55px,
      var(--background-rectangle) 56px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 55px,
      var(--background-rectangle) 55px,
      var(--background-rectangle) 56px
    );
  background-size: 56px 56px;
  background-position: -48px -40px;
  border-radius: 9px;
  pointer-events: none;
}
