.plan-card-B {
  flex-direction: column;
}

.plan-card-B__content {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.plan-card-B__timer {
  position: relative;
  background-color: var(--plan-sale-background);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--plan-sale-main);
  padding: 20px 12px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.plan-card-B__timer::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 22px;
  transform: translateY(90%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 8px solid var(--plan-sale-background);
}

@media (max-width: 426px) {
  .plan-card-B__timer {
    display: none;
  }
}
